src/main/mule/cache.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="3d55051a-0ecb-4fc2-88cd-ada087f6569c" keyGenerationExpression="#[vars.id]" />
	<flow name="cacheFlow" doc:id="30ce3245-ca1a-4445-8238-01db0feb245e" doc:description="cache is a storage in RAM. For every request we need to make call the thirdy party/other API every time. Insted we can cache it in the memory and fetch. ">
		<http:listener doc:name="/cache GET" doc:id="195d83f6-d7a6-4720-a28c-f98b5d5f51a4" config-ref="HTTP_Listener_config1" path="/cache" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="14563ec7-0bc1-4258-897f-19914148fc78" variableName="id"/>
		<ee:cache doc:name="Cache" doc:id="1f9299f2-7b87-48e3-9a73-48c4b567cfbf" cachingStrategy-ref="Caching_Strategy">
			<http:request method="GET" doc:name="Request" doc:id="3e5d2f80-fa5d-4d27-b031-b8f99bbd343a" config-ref="HTTP_Request_configuration_restAPI" path="/v1/employee/{id}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	'id' : 'vars.id'
}]]]></http:uri-params>
		</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="6632a98b-765d-45de-ab25-13be5f9f72fe" message="received the payload by calling the rest service."/>
		</ee:cache>
		<logger level="INFO" doc:name="Logger" doc:id="9944693e-f444-4a41-80d9-282ce38c6437" message="payload from the cache"/>
	</flow>
	<flow name="cacheFlow1" doc:id="fe1a0038-30bd-4ca6-b24c-426380b3609b" >
		<http:listener doc:name="Listener" doc:id="b00421ae-56af-4b42-9929-8bcc5d0391c5" config-ref="HTTP_Listener_config1" path="/cacheDemo"/>
		<set-variable value="1" doc:name="Set Variable" doc:id="288f30e4-8dd3-40c5-825c-99dcad32e458" variableName="id"/>
		<ee:cache doc:name="Cache" doc:id="c1a884cc-140b-42f7-91ce-1be7020c2d7f" cachingStrategy-ref="Caching_Strategy">
			<http:request method="GET" doc:name="Request" doc:id="ee645ce1-38d5-4076-8a14-62ecb53643d7" config-ref="HTTP_Request_configuration_google.com" path="/">
				<http:body ><![CDATA[payload]]></http:body>
			</http:request>
			<set-variable value="#[attributes.statusCode]" doc:name="Set Variable" doc:id="fb3e665e-41bd-4557-b59a-e3c8d6e8022b" variableName="statusCode"/>
		</ee:cache>
		<logger level="INFO" doc:name="Logger" doc:id="0e2e6f3f-e8d2-4fef-a21b-31be30e9c65c" message="#[vars.statusCode]"/>
	</flow>
</mule>
