src/main/mule/choiceRouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="choiceRouterFlow" doc:id="289400e4-0148-455e-8230-d58a8018fdb5" doc:description="Helps to dynamically route the message to the flow based on some data weave expression(similar to if/elseif/else).">
		
		<http:listener doc:name="Listener" doc:id="75f69a7e-c328-4ca9-8524-c2726520af01" config-ref="HTTP_Listener_config1" path="/choiceRouter"/>
		<set-variable value='#[attributes.queryParams.country default ""]' doc:name="Set Variable" doc:id="90704feb-1cb2-4130-849f-f4c3f0528503" variableName="countryName"/>
		<choice doc:name="Choice" doc:id="b724d2f2-819f-419a-88d0-2c8822c6a0f0" >
			<when expression='#[vars.countryName == "United State"]'>
				<logger level="INFO" doc:name="Logger" doc:id="f43a38d6-7874-4121-9c24-ca0ef6fa3ddc" message='"The incomming request is from united States......."'/>
			</when>
			<when expression='#[vars.countryName == "India"]'>
				<logger level="INFO" doc:name="Logger" doc:id="20ba0fa9-531a-40af-84be-6e22c0eb9be9" message='"the incomming request is from India...."'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="f76d8d51-f5e1-4854-b33e-f795f7a054c7" message='"This is default message from the loggger..........."'/>
			</otherwise>
		</choice>
	</flow>
</mule>
