src/main/mule/forEach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
<!-- [STUDIO:"forEachFlow"]	<flow name="forEachFlow" doc:id="305340ec-b941-4596-b0e3-ba72beedfe8d" doc:description="The for each scope splits the payload and process them one after the other components in its scope.&#10;Note: the forEach scope requires a java formatted/array message.">
		<file:listener doc:name="On New or Updated File" doc:id="3ba6bf05-0004-4525-97f2-691a4ab8baa5" config-ref="File_Config" directory="C:\Users\rv148\Desktop\temp\mule-file\ip" moveToDirectory="C:\Users\rv148\Desktop\temp\mule-file\op">
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="5"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="dd45b73f-d37c-4f65-be3f-854abb5c39b1" message='"payload before forEach scope: " #[payload&#93;'/>
		<ee:transform doc:name="Transform Message" doc:id="107391a1-f898-4863-bc8f-ed0c385dc7df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="faa1fdf1-164d-43aa-bb88-30b5520dcb71" >
			<logger level="INFO" doc:name="Logger" doc:id="4f7c7ad3-6c02-47da-be88-14de2070bc11" message=" #[payload&#93;" />
			<set-variable value='#[payload.empName ++ ".csv"&#93;' doc:name="Set Variable" doc:id="e4cdf005-7366-41f6-b7ba-fd400c335271" variableName="opFilename"/>
			<ee:transform doc:name="Transform Message" doc:id="7abfc6b1-e340-4c27-9c3a-1cc99c221603" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="a63db1ba-b9f7-4b0b-a63e-ea83c2612831" path='#[vars.opFilename&#93;'/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="a58b0838-4b73-4f5b-8661-73b7d0994eeb" message='"end of forEach Flow....................."'/>
	</flow> [STUDIO] -->
</mule>
