src/main/mule/forEach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="forEachFlow" doc:id="305340ec-b941-4596-b0e3-ba72beedfe8d" doc:description="The for each scope splits the payload and process them one after the other components in its scope.&#10;Note: the forEach scope requires a java formatted/array message.">
		<file:listener doc:name="On New or Updated File" doc:id="3ba6bf05-0004-4525-97f2-691a4ab8baa5" config-ref="File_Config" directory="C:\Users\rv148\Desktop\temp\mule-file\ip" moveToDirectory="C:\Users\rv148\Desktop\temp\mule-file\op">
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="5"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="dd45b73f-d37c-4f65-be3f-854abb5c39b1" message='"payload before forEach scope: " #[payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="107391a1-f898-4863-bc8f-ed0c385dc7df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="18aae234-2a99-41a2-8295-cf7b2c1b4f80" message="payload befor for each scop: #[payload]"/>
		<foreach doc:name="For Each" doc:id="faa1fdf1-164d-43aa-bb88-30b5520dcb71" >
			<logger level="INFO" doc:name="Logger" doc:id="4f7c7ad3-6c02-47da-be88-14de2070bc11" message=" #[payload]" />
			<set-variable value='#[payload.empName ++ ".csv"]' doc:name="Set Variable" doc:id="e4cdf005-7366-41f6-b7ba-fd400c335271" variableName="opFilename"/>
			<ee:transform doc:name="Transform Message" doc:id="7abfc6b1-e340-4c27-9c3a-1cc99c221603" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="a63db1ba-b9f7-4b0b-a63e-ea83c2612831" path='#[vars.opFilename]'/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="2ad5c516-fd04-4b49-bf33-d4b5ff117f81" message="payload after for each scop: #[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="a58b0838-4b73-4f5b-8661-73b7d0994eeb" message='"end of forEach Flow....................."'/>
	</flow>
	<flow name="forEachFlow1" doc:id="a69dd27a-60fb-43af-a745-4d6cd76e6531" >
		<http:listener doc:name="Listener" doc:id="41a2f638-5aae-4b1d-96ba-2ed4652076c6" config-ref="HTTP_Listener_config1" path="/forEach"/>
		<set-payload value="#[[10,20,30]]" doc:name="Set Payload" doc:id="c0e248d9-934f-41d0-9592-a3b65331df06" />
		<logger level="INFO" doc:name="Logger" doc:id="15f74aed-9e50-4e7f-afec-2d8387493e10" message="payload before foreach scopr #[payload]"/>
		<foreach doc:name="For Each" doc:id="77ff2611-6f8d-4deb-b24c-1bf3e13ba8f3" >
			<set-payload value="#[payload + 100 as Number]" doc:name="Set Payload" doc:id="471b3294-163a-4551-80d7-2498295e76d7" />
			<logger level="INFO" doc:name="Logger" doc:id="38613c93-c462-4815-a6b8-58b78445f6af" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="3427d7ce-1768-409b-a53d-e45c23693646" message="payload after foreach scopr #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8cb4bb33-7565-4e32-8667-61ceb77dc7f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
