src/main/mule/mulesoft-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7a763489-ceb7-4b7e-9f81-75d3d3d30b16" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-DemoFlow" doc:id="f772209a-eb83-4191-910b-3d2de178f1fd" >
		<http:listener doc:name="Listener" doc:id="83f4578b-140b-4b8e-b712-b6ca144a23d9" config-ref="HTTP_Listener_config1" path="/hello"/>
		<set-payload value='#["Hello from Mulesoft..."]' doc:name="Set Payload" doc:id="cf96d78f-357e-45d7-8abe-1f21df82c680" />
	</flow>
</mule>
