src/main/mule/mulesoft-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mulesoft-DemoFlow" doc:id="f772209a-eb83-4191-910b-3d2de178f1fd" >
		<http:listener doc:name="Listener" doc:id="83f4578b-140b-4b8e-b712-b6ca144a23d9" config-ref="HTTP_Listener_config1" path="/hello"/>
		<set-payload value='#["Hello from Mulesoft..."]' doc:name="Set Payload" doc:id="cf96d78f-357e-45d7-8abe-1f21df82c680" />
		<ee:transform doc:name="Transform Message" doc:id="0e35e87f-9f00-45f1-b164-1821167efa3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d7c14415-652a-45fc-8c53-f9cded14d7ac" />
	</flow>
</mule>
