src/main/mule/scatterGather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="scatterGatherFlow" doc:id="91efe33b-54a9-44d4-8770-ae35f81ffa19" doc:description="scatterGather passes the mule message to all the procesflow within the scatter Gather and process them parallely  in separarte threads and returns the combined mssg only after all the process is completed.&#10;&#10;minimum of two process flow is required in scatterGather.">
		<http:listener doc:name="/GET" doc:id="dc5caa4a-98f8-4b54-8d23-8eed399b7f84" config-ref="HTTP_Listener_config1" path="/scatterGather"/>
		<set-payload value='{"message" : "Good Night"}' doc:name="Set Payload" doc:id="cd687e74-5406-4268-b11c-c68c4f9d61fb" />
		<logger level="INFO" doc:name="Logger" doc:id="d254e052-080e-49d6-9e58-a5394d32e3d6" message='"Logger Message befor scatterGather.......": #[payload]'/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="540398fb-541a-4856-9f8a-c4d871602bf3" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="3216b962-7b68-4cfe-b55d-347621ca7dcb" message='"Logger1 Message within scatterGather......."'/>
				<set-payload value='{"message" : "Good NIght from scatterGather flow1"}' doc:name="Set Payload" doc:id="cf58d522-c6e5-4561-afca-76504f37f2d5" />
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="63369963-ecf4-4987-9e60-1fefed6a6f99" message='"Logger2  Message within scatterGather......"'/>
				<set-payload value='{"message" : "Good NIght from scatterGather flow2"}' doc:name="Set Payload" doc:id="9298554b-c183-4647-bdcb-57be870e38d9" />
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="83f40416-041f-484c-9b46-2af7f633319f" message='"Logger3  Message within scatterGather....."'/>
				<set-payload value='{"message" : "Good NIght from scatterGather flow3"}' doc:name="Set Payload" doc:id="7590eea0-ffc0-4f8b-972f-128a9784efb2" />
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="e67f54b7-b4ff-47a1-a82e-008ccff13475" message='"Logger Message after scatterGather before transform......": #[payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="6c1c3e7b-6add-4384-8c0c-2074a0180f14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(valuesOf(payload) map ((item, index) -> item.*payload))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d48070fa-b0cd-4678-be3c-3f7d4c76ee09" />
		<logger level="INFO" doc:name="Logger" doc:id="07b5c06a-6a34-4aa3-a66c-d35132b3aae0" message='"Logger Message after scatterGather.......": #[payload]'/>
	</flow>
	<flow name="scatterGatherFlow1" doc:id="b5f305bc-0bb3-448e-9b3a-092e5d495598" >
		<http:listener doc:name="Listener" doc:id="ef271501-291e-481e-8aa9-cc210e7353cb" config-ref="HTTP_Listener_config1" path="/scatterGather/var"/>
		<set-variable value="1" doc:name="Counter = 1" doc:id="b8d9f992-5f54-4ad9-9154-c8c484172383" variableName="counter"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="ac2bdef0-af73-4ff6-8d3d-e142aeeddecf" >
			<route >
				<set-variable value="#[vars.counter + 1]" doc:name="counter  +1" doc:id="e1adcffe-4967-4795-a1a7-3399c0dab2b4" variableName="counter"/>
			</route>
			<route >
				<set-variable value="#[vars.counter + 1]" doc:name="counter  +1" doc:id="b861138d-baf5-4c71-94de-4f49de288bc7" variableName="counter"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="11929ce6-0536-45d2-94a8-acb8f2da50ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="17db726b-74d0-47ef-8d71-304cdba86f31" message="#[vars.counter]"/>
	</flow>
</mule>
